// -----------------------------------------------------------------------------
// Custom Sass Variables
// Custom variables for the fess-site-search project
// -----------------------------------------------------------------------------

// Sass Custom Variables
// Project-specific color definitions
$link-visited-color: #014c8c;
$site-cite-color: #093;
$label-tab-border-color: #a9a9a9;
$label-tab-selected-bg: #ababc9;
$suggest-box-border-color: #cccccc;
$search-waiting-overlay-bg: rgba(255, 255, 255, 0.6);
$search-options-bg: rgba(60, 60, 60, 0.93);

// Size-related
$search-options-width: 500px;
$thumbnail-width: 100px;
$logo-mobile-width: 200px;
