
.fessWrapper {
  /* Reset style */
  box-sizing: content-box;
  -webkit-box-sizing: content-box;

  a {
    background-image: initial;
    padding: initial;
    margin: initial;
  }

  h3 {
    background-image: initial;
    padding: initial;
    margin: initial;
  }

  ul, ol {
    margin: 0px;
  }


  /* Style */
  margin: 0px;
  padding: 0px 10px;
  .fessResult {
    padding: 10px 0px;
  }
  .form-control.sort {
    display: inline;
    width: 90%;
  }
  .media-body {
    width: initial;
  }

  .fessResultBox {
    position: relative;
  }
  .fessSearchWaiting {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.6) !important;
  }

  .label-tab-box {
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 10px;
  }
  .label-tab {
    display: inline-block;
    background-color: #fff;
    border: 1px solid;
    border-bottom: none;
    border-color: #a9a9a9;
    font-size: small;
    cursor: pointer;
    position: static;
    margin-top: 5px;
    padding: 2px 8px 0px 8px;
  }
  .label-tab-selected {
    background-color: #ababc9;
  }

  /* Large desktop */
  @media ( min-width : 74.9em) {
    .order-box {
      width: 10%
    }
    .labels-box {
      width: 10%
    }
    .title {
      line-height: 32px;
      font-size: 18px;
    }
    .site, .description, .result-header, .field-labels, .sort {
      font-size: medium;
    }
  }
  /* Large devices (desktops, less than 75em) */
  @media ( max-width : 74.9em) {
    .order-box {
      width: 10%
    }
    .labels-box {
      width: 10%
    }
    .title {
      line-height: 32px;
      font-size: 18px;
    }
    .site, .description, .result-header, .field-labels, .sort {
      font-size: medium;
    }
  }

  /* Medium devices (tablets, less than 62em) */
	@media ( max-width : 61.9em) {
    .order-box {
      width: 15%
    }
    .labels-box {
      width: 15%
    }
    .title {
      line-height: 32px;
      font-size: 18px;
    }
    .site, .description, .result-header, .field-labels, .sort {
      font-size: medium;
    }
  }

  /* Small devices (landscape phones, less than 48em) */
  @media ( max-width : 47.9em) {
    .order-box {
      width: 25%
    }
    .labels-box {
      width: 25%
    }
    .title {
      line-height: 24px;
      font-size: 15px;
    }
    .site, .description, .result-header, .field-labels, .sort {
      font-size: small;
    }
  }

  /* Extra small devices (portrait phones, less than 34em) */
  @media ( max-width : 360px) {
    .order-box {
      width: 30%
    }
    .labels-box {
      width: 30%
    }
    .title {
      line-height: 24px;
      font-size: 15px;
    }
    .site, .description, .result-header, .field-labels, .sort {
      font-size: small;
    }
  }
}

.fessOverlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:120%;
  background-color:rgba(255,255,255,0.5);
  .fessPopup {
    background-color: #fff;
    margin: 4% 10% 1% 10%;
    padding: 0% 1% 3% 1%;
    height: 70%;
    overflow: scroll;
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.1);
    .fessPopupResult {
      padding: 5% 4% 0% 4%;
    }
  }
}
