html {
    position: relative;
    min-height: 100%;
}

.content-wrapper {
    padding: 0 40px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #454545;
}

.content-header {
    padding: 0;
    margin-bottom: 1.6em;
}

.content-header h1 {
    padding: 1em 0 0.3em;
    font-size: 2.4em;
    border-bottom: 1px solid #d2d6de;
}

div#loading {
    cursor: wait;
    margin: auto;
}

div#loaded {
    display: none;
    margin: auto;
}

div#loaded-text {
    display: none;
}

.tab-content-top {
    padding: 30px;
}

.category-label {
    font-size: 140%;
    font-weight: bold;
}

.mode-tab {
    font-size: 140%;
    font-weight: bold;
}

.menu-item {
    font-size: 140%;
}

.submit-button {
    float: right;
}
