html {
    position: relative;
    min-height: 100%;
}

.content-wrapper {
    padding: 0 40px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #454545;
}

.content-header {
    padding: 0;
    margin-bottom: 1.6em;
}

.content-header h1 {
    padding: 1em 0 0.3em;
    font-size: 2.4em;
    border-bottom: 1px solid #d2d6de;
}

.content {
    padding: 0;
}

.tab-content .box-footer {
    padding-top: 20px;
}

div#loaded {
    display: none;
}

div#loaded-text {
    display: none;
}