<form>
  <table style="width:100%">
    <tbody>
      <tr>
        <td>
          <div>
            <input type="text" name="q" placeholder="{form.input.placeholder}" maxlength="1000" size="50" autocomplete="off" class="query form-control center-block">
          </div>
        </td>
        <td>
          <div>
            <button type="submit" name="search" class="searchButton btn btn-primary"><i class="fa fa-search"></i>{form.search.button}</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
