{# Utilities #}
{% macro general_form(id, label) -%}
    <div class="form-group row">
        <label for="{{ id }}" class="col-4 col-form-label-lg">{{ label }}</label>
        <div class="col-8">
            {{ caller () }}
        </div>
    </div>
{%- endmacro %}

{% macro color_form(id, label, help, placeholder='#FFFFFF') -%}
    {% call general_form(id, label) %}
        <input type="text" class="form-control" name="{{ id }}" id="{{ id }}"
               aria-describedby="{{ id }}-help" placeholder="{{ placeholder }}" maxlength="7">
        <small id="{{ id }}-help" class="form-text text-muted">
            {{ help }}
        </small>
    {% endcall %}
{%- endmacro %}


{# Page #}
<h2 class="display-5"> {% block title %}{% endblock %} </h2>
<br>
{% block body %}{% endblock %}
