{# Utilities #}
{% macro general_form(id, label) -%}
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ id }}">{{ label }}</label>
            {{ caller () }}
        </div>
    </div>
{%- endmacro %}

{% macro color_form(id, label, help, placeholder='#ffffff') -%}
    {% call general_form(id, label) %}
        <input type="text" class="form-control colorpicker-element" name="{{ id }}" id="{{ id }}" placeholder="{{ placeholder }}" maxlength="7">
        <span class="help-block">{{ help }}</span>
    {% endcall %}
{%- endmacro %}


{# Page #}
<div class="box-header with-border">
    <h3 class="box-title">{% block title %}{% endblock %}</h3>
    <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>

<div class="box-body">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>