{% extends "design-form/base.html" %}

{% block title %}General Design{% endblock %}

{% block body %}
    {# Font #}
    {% call general_form('font-family', 'Font') %}
        <select class="form-control" id="font-family" name="font-family">
            <option value="">Default</option>
            <option>Arial, sans-serif</option>
            <option>Verdana, sans-serif</option>
            <option>"Trebuchet MS", sans-serif</option>
            <option>Times, serif</option>
            <option>Georgia, serif</option>
        </select>
    {% endcall %}

    {# Border Color #}
    {{ color_form('border-color', 'Border', 'Border Color: If empty, border lines will not be displayed.') }}

    {# Background #}
    {{ color_form('bg-color', 'Background', 'Background Color') }}

    {# Version #}
    {% call general_form('fess-version', 'Version') %}
        <select name="fess-version" class="form-control">
            <option value="11.4">Fess 11.4/12.x</option>
            <option value="11.3">Fess 11.3</option>
        </select>
    {% endcall %}
{% endblock %}
