{% extends "design-form/base.html" %}

{% block title %}Label{% endblock %}

{% block body %}
    {# Visibility (Label)#}
    {% call visibility_checkbox('labelbox-settings', 'labelbox-visibility', 'Visible Label Box') %}
        {# Border #}
        {{ color_form('labelbox-border-color', 'Border', 'Border Color of Label') }}

        {# Background #}
        {{ color_form('labelbox-bg-color', 'Background', 'Background Color of Label') }}
    {% endcall %}

    {# Visibility (Label Tab) #}
    {% call visibility_checkbox('labeltab-settings', 'labeltab-visibility', 'Visible Label Tabs') %}
        {# Border #}
        {{ color_form('labeltab-border-color', 'Border', 'Border Color of Label Tab') }}

        {# Background #}
        {{ color_form('labeltab-bg-color', 'Background', 'Background Color of Label Tab') }}

        {# Border #}
        {{ color_form('labeltab-selected-border-color', 'Border (Selected)', 'Border Color of Label Tab (Selected)') }}

        {# Background #}
        {{ color_form('labeltab-selected-bg-color', 'Background (Selected)', 'Background Color of Label Tab (Selected)') }}
    {% endcall %}
{% endblock %}
