{% macro nav_link(id, name, link=id, ja_link=link, external=false) %}
    {% if navbar_link == id %}
        <li class="nav-item active"> <a class="nav-link" href="{{link}}">{{name}}</a></li>
    {% else %}
        {% if external %}
            <li class="nav-item"> <a class="nav-link" href="{{link}}">{{name}} <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
        {% else %}
            <li class="nav-item"> <a class="nav-link" href="{{link}}">{{name}}</a></li>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro navbar() %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarContents" aria-expanded="false" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Fess Site Search</a>
        <div class="collapse navbar-collapse" id="navbarContents">
            <ul class="navbar-nav mr-auto">
                {% if language == 'en' %}
                    {{ nav_link('/', 'Home') }}
                    {{ nav_link('/docs/manual', 'User Manual') }}
                    {{ nav_link('/generator', 'Generator') }}
                    {{ nav_link('fess-doc', 'Fess', link='https://fess.codelibs.org/', external=true) }}
                    {{ nav_link('github', 'GitHub', link='https://github.com/codelibs/fess-site-search/', external=true) }}
                {% else %}
                    {{ nav_link('/', 'ホーム', '/ja') }}
                    {{ nav_link('/docs/manual', 'マニュアル', '/ja/docs/manual') }}
                    {{ nav_link('/generator', 'Generator', '/generator') }}
                    {{ nav_link('fess-doc', 'Fess', 'https://fess.codelibs.org/ja/', external=true) }}
                    {{ nav_link('github', 'GitHub', 'https://github.com/codelibs/fess-site-search/', external=true) }}
                {% endif %}
            </ul>

            {# Dropdown menu to change language #}
            {% if navbar_link == '/' or navbar_link == '/docs/manual' %}
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-globe" aria-hidden="true"></i> Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ navbar_link }}">English</a>
                            <a class="dropdown-item" href="/ja{{ navbar_link }}">日本語</a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34667351-4"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-34667351-4');
            </script>
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="/static/style.css">
        {% endblock %}
    </head>

    <body>

        {{ navbar() }}

        {% block content %}{% endblock %}

        <footer class="text-muted" role="contentinfo">
            <div id="footer" class="container">
                <p>
                    &copy;2017 <a href="https://github.com/codelibs">CodeLibs Project</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
