{% extends "base.html" %}
{% block title %}Fess Site Search JS Generator{% endblock %}
{% set navbar_link = '/demo' %}
{% set language = 'en' %}

{% block head %}
    {{ super() }}
    <script src="/static/fss-demo.js"></script>
{% endblock %}

{% block content %}
    <div class="content-wrapper" role="main">
        <article>
            <header class="content-header">
                <h1>FSS JS Generator</h1>
            </header>
            <div class="content container-fluid">
                <div class="box box-default" id="loading">
                    <div class="box-header with-border">
                        <h3 class="box-title">Generating...</h3>
                    </div>
                    <div class="box-body"></div>
                    <div class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <div class="box box-default" id="loaded">
                    <div class="box-header with-border">
                        <h3 class="box-title">Check your Design</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <a href="/generator" class="btn btn-default btn-lg col-xs-3 col-xs-offset-2">
                                <i class="fa fa-backward"></i> Back
                            </a>
                            <a href={{message.js_path}} download={{message.js_file}} class="btn btn-primary btn-lg col-xs-3 col-xs-offset-2">
                                <i class="fa fa-download"></i> Download JS
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" data-src="{{message.search_src}}" id="iframe"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
