{% extends "base.html" %}
{% block title %}Fess Site Search JS Generator{% endblock %}
{% set navbar_id = 'index' %}

{# Head #}
{% block head %}
    {{ super() }}
    <script src="/static/fss-index.js"></script>
{% endblock %}

{% macro menu_item(name, target, opt_class='', selected='false') -%}
    <a class="menu-item nav-link {{ opt_class }}" id="menu-tab-{{ target }}" data-toggle="pill" href="#{{ target }}" role="tab" aria-controls="{{ target }}" aria-selected={{ selected }}>
        {{ name }}
    </a>
{%- endmacro %}

{% macro form_page(id, file_name, opt_class='') -%}
    <div class="tab-pane {{ opt_class }}" id="{{ id }}" role="tabpanel" aria-labelledby="menu-tab-{{ id }}">
        {% include file_name %}
    </div>
{%- endmacro %}

{# Content #}
{% block content %}
    <div class="container theme-showcase" role="main">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">FSS JS Generator</h1>
                <h2 class="display-5">Generate JavaScript file for Fess Site Search</h2>
            </div>
        </div>

        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a data-target="#tab-wizard" class="nav-link active" data-toggle="tab" role="tab">Wizard</a>
            </li>
            <li class="nav-item">
                <a data-target="#tab-upload" class="nav-link" data-toggle="tab" role="tab">Custom CSS</a>
            </li>
        </ul>

        <div class="tab-content tab-content-top">
            <div id="tab-wizard" class="tab-pane active" role="tabpanel">
                <form id="wizard-form" method="post">
                    <div class="row">
                        <div class="nav nav-fill flex-column col-3 nav-pills" role="tablist" aria-orientation="vertical">
                            {# General: #}
                            {{ menu_item('General', 'general', opt_class='active', selected='true') }}

                            {# Seach Form: #}
                            <div class="category-label">Search Form:</div>
                            {{ menu_item('Search Box', 'search-box') }}
                            {{ menu_item('Search Button', 'search-button') }}

                            {# Seach Result: #}
                            <div class="category-label">Search Result:</div>
                            {{ menu_item('General', 'result-general') }}
                            {{ menu_item('Title', 'result-title') }}
                            {{ menu_item('URL', 'result-url') }}
                            {{ menu_item('Snippet', 'result-snippet') }}
                        </div>

                        <div class="tab-content tab-content-wizart col-9">
                            {# General: #}
                            {{ form_page('general', 'design-form/general.html', opt_class='active show') }}

                            {# Search Form: #}
                            {{ form_page('search-box', 'design-form/search/searchbox.html') }}
                            {{ form_page('search-button', 'design-form/search/searchbutton.html') }}

                            {# Seach Result: #}
                            {{ form_page('result-general', 'design-form/result/general.html') }}
                            {{ form_page('result-title', 'design-form/result/title.html') }}
                            {{ form_page('result-url', 'design-form/result/url.html') }}
                            {{ form_page('result-snippet', 'design-form/result/snippet.html') }}
                        </div>
                    </div>

                    {# Modal #}
                    <div class="modal fade" id="preview-modal">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Preview</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe id="preview-iframe" src="/search/?q=test" width="99%" height="800px" ></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Preview Button, Generate Button #}
                    <div class="form-group submit-button">
                        <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#preview-modal" onclick="apply_design();">Preview</button>
                        <input type="submit" class="btn btn-primary btn-lg" value="Generate">
                    </div>
                </form>
            </div>

            <div id="tab-upload" class="tab-pane" role="tabpanel">
                <form id="upload-form" method="post" enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label for="file" class="col-2 col-form-label-lg">CSS</label>
                            <input type="file" name="file" class="form-control-file form-control-lg">
                        </div>
                        <div class="form-group row">
                            <label for="fess-version" class="col-2 col-form-label-lg">Version</label>
                            <select name="fess-version"  class="custom-select form-control-lg">
                                <option value="11.4">Fess 11.4</option>
                                <option value="11.3">Fess 11.3</option>
                            </select>
                        </div>
                        <div class="form-group submit-button">
                            <input type="submit" class="btn btn-primary btn-lg" value="Generate">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
