<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fess Site Search JS Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <div id="root"></div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
