<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34667351-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-34667351-4');
    </script>
    <meta charset="utf-8">
    <title>Demo</title>
  </head>

  <script id="embed" src="{{message.js_path}}" page_path="{{message.page_path}}"></script>

  <div id="fess-site-search" class="fess-site-search">
    test
    <fess-search-form result-page="" language="ja" :enable-suggest="true"
      suggest-url="http://localhost:18080"></fess-search-form>
    <fess-search-result fess-url="http://localhost:18080" language="ja" link-target="_blank" :page-size="5"
      :enable-thumbnail="true"></fess-search-result>
  </div>
  <!--
  <fess-search-form
    result-page=""
    language="ja"
    :enable-suggest="true"
    suggest-url="https://search.n2sm.co.jp/suggest">
  </fess-search-form>
  <fess-search-result
    fess-url="https://search.n2sm.co.jp/"
    language="ja"
    link-target="_blank"
    :page-size="5"
    :enable-thumbnail="true">
  </fess-search-result>
-->
</html>
