<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34667351-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-34667351-4');
    </script>
    <meta charset="utf-8">
    <title>Demo</title>
  </head>

  <script>
    (function() {
    var fess = document.createElement('script');
    fess.type = 'text/javascript';
    fess.async = true;
    fess.src = '{{message.js_path}}';
    fess.charset = 'utf-8';
    fess.setAttribute('id', 'fess-ss');
    fess.setAttribute('fess-url', '//search.n2sm.co.jp/json');
    fess.setAttribute('fess-search-page-path', '{{message.page_path}}');
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fess, s);
    })();
  </script>

  <fess:search></fess:search>
</html>
