<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34667351-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-34667351-4');
    </script>
    <meta charset="utf-8">
    <title>Demo</title>
  </head>

  <script id="embed" js_path="{{message.js_path}}" page_path="{{message.page_path}}"></script>

  <fess:search></fess:search>
</html>
